@{
    ViewData["Title"] = "Index";
}

<div style="padding-left:23%">
<h7>Worthington High Schools Alumni Club Officers</h7></div>

 <div class="text-left data" style="font-family:sans-serif;font-size:10px;padding-left:33%">
     <p>&nbsp;</p>
    <p align="left">
        In class graduate order:<br />
        Dan Owens '55<br />
        Barbara laing Taylor '56<br />
        Karen German '57<br />
        Linda Shufflebarger VanFleet '62<br />
        Susie Bonnell '64<br />
        Pat Kelso '68<br />
        Michael Kull '68<br />
        Niki Gnezda '69<br />
        John Snouffer '70<br />
        T.K. Cellar '70<br />
        Bill Pfefferle '72<br />
        Diane Blain '75<br />
        Mark Cameron '79<br />
        Christy Kauderer DeWees '90 - President<br />
        Ally McCarthy Minister '94<br />

    </p>
</div>

