@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Worthington High Schools Alumni Club</h3></div>

  <div style="font-family:sans-serif;font-size:10px" class="text-left data"  id="SlideFontSize"> 
<p>Welcome to Thomas Worthington High School Alumni Club Web site. This web page is dedicated to all of the Thomas Worthington High School Graduates.
The purpose of our Alumni Club is to celebrate any class that has graduated from Worthington High School (Thomas) - Worthington, Ohio.
The 30 Year Alumni Club had been in existence for close to 50 years. The club welcomes and now celebrates all (Thomas) Worthington graduating classes.</p>

<p>A message from Christy DeWees, President of the Thomas Worthington High School Alumni Club:</p>

<p>I am excited and honored to serve as president of the (Thomas) Worthington Alumni Club. A few years ago, our club changed from the 30 Year Alumni Club 
    to the (Thomas) Worthington Alumni Club and we now welcome all graduates. We continue to identify class leaders and gather contact information for the 
    TWHS classes of 1992-2021 and continue to add and update data on all WHS graduates. My hope is to grow our alumni club, have alumni events to keep alumni 
    connected, and continue to share our memories with future Worthington alumni!</p>

<p>The board will also continue discussions of how and when to add the 1992-2021 graduates of Worthington Kilbourne and identify leaders from WKHS 
    interested in getting involved in the alumni club.</p>

<p>Your connections to high school do not have to end when you graduate. Being a part of the alumni club is a great way to
    maintain and create new friendships. I recently attended my first alumni dinner. I had no idea what to expect and knew 
    I would be one of the younger alumni in attendance. (When I say younger, I mean 49 years old!) By the end of the night, 
    I had met alumni of all ages, listened to many interesting stories, and even learned new things about Worthington.</p>

<p>I'm looking forward to the upcoming events, and I hope to see and meet more alumni!</p>


<p>Go Cards!</p>


</div>
