@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Worthington High Schools Alumni</h3>
    <p>Here is a listing of our deceased Alumni. <br />Select "Deceased" in the upper left corner for access. </p>
    If you know of someone that has passed that is not on this list please send us a link to the obituary and email us at john.snouffer@gmail.com
</div>
