@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

                <div align="center"> 
                  			<h4>Welcome to our Privacy Policy</h4>
			<h6>Your privacy is critically important to us.</h6>
			        <p style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">Worthington 
                    High Schools Alumni Club Web development location:<br/>
                    Worthington High School Alumni Club<br>
                    Web Developer: Mark Cameron<br/>
                    6830 Roespark Blvd Lewis Center <br />
                    43035 - OH , United States<br>
                    mark-cameron@outlook.com<br/></P>
                    
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">It 
                      is Worthington High School Alumni Club's policy to respect 
                      your privacy regarding any information we may collect while 
                      operating our website. This Privacy Policy applies to <a href="http://www.worthingtonhighschoolalumniclub.com">www.worthingtonhighschoolalumniclub.com</a> 
                      (hereinafter, "us", "we", or "www.worthingtonhighschoolalumniclub.com"). 
                      We respect your privacy and are committed to protecting 
                      personally identifiable information you may provide us through 
                      the Website. We have adopted this privacy policy ("Privacy 
                      Policy") to explain what information may be collected on 
                      our Website, how we use this information, and under what 
                      circumstances we may disclose the information to third parties. 
                      This Privacy Policy applies only to information we collect 
                      through the Website and does not apply to our collection 
                      of information from other sources.</p>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">This 
                      Privacy Policy, together with the Terms and conditions posted 
                      on our Website, set forth the general rules and policies 
                      governing your use of our Website. Depending on your activities 
                      when visiting our Website, you may be required to agree 
                      to additional terms and conditions.</p>
                    <h6 align="left">Website Visitors</h6>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">Like 
                      most website operators, Worthington High School Alumni Club 
                      collects non-personally-identifying information of the sort 
                      that web browsers and servers typically make available, 
                      such as the browser type, language preference, referring 
                      site, and the date and time of each visitor request. Worthington 
                      High School Alumni Club's purpose in collecting non-personally 
                      identifying information is to better understand how Worthington 
                      High School Alumni Club's visitors use its website. From 
                      time to time, Worthington High School Alumni Club may release 
                      non-personally-identifying information in the aggregate, 
                      e.g., by publishing a report on trends in the usage of its 
                      website. This is generally used for troubleshooting issues 
                      through our server hosts at GoDaddy.com.</p>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">Worthington 
                      High School Alumni Club also collects potentially personally-identifying 
                      information like Internet Protocol (IP) addresses for logged 
                      in users. Worthington High School Alumni Club only discloses 
                      logged in user and commenter IP addresses under the same 
                      circumstances that it uses and discloses personally-identifying 
                      information as described below.</p>
                    <h6 align="left">Gathering of Personally-Identifying Information</h6>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">Certain 
                      visitors to Worthington High School Alumni Club's Website 
                      choose to interact with Worthington High School Alumni Club 
                      in ways that require Worthington High School Alumni Club 
                      to gather personally-identifying information. The amount 
                      and type of information that Worthington High School Alumni 
                      Club gathers depends on the nature of the interaction. For 
                      example, we ask visitors who sign up to receive notification 
                      email at http://www.worthingtonhighschoolalumniclub.com 
                      to provide a alumnus name and email address, and class year 
                      of graduation. This is directly emailed to a club executive 
                      board member for the purposes of being notified of alumni 
                      events in the Worthington, Ohio area. This information once 
                      received is not available in online electronic form to the 
                      public and is for sole use of notifying alumni events. At 
                      times other information will be in our Guest Book where 
                      users can leave comments without gathering more than a name 
                      and class year. No other personal information is gathered 
                      there for our Website use but is also at a third party at 
                      that posting.</p>
                    <h6 align="left">Security</h6>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">The 
                      security of your Personal Information is important to us, 
                      we do not store your personal information on the Web server 
                      of this site. Personal information related for payment to 
                      an alumni event such as an annual dinner is stored on the 
                      PayPal.com Web site for purposes of a transaction for said 
                      event(s). An alumni record is stored on executive board 
                      members information records given by email submissions and 
                      related information of graduate information to verify the 
                      alumnus graduated from the Worthington, Ohio Schools. This 
                      informaiton is collected for the purposes of invations to 
                      said events. </p>
                    <h6 align="left">Links To External Sites</h6>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">Our 
                      Service may contain links to external sites that are not 
                      operated by us. If you click on a third party link (such 
                      as PayPal.com or other alumnus Web sites), you will be directed 
                      to that third party's site. We strongly advise you to review 
                      the Privacy Policy and terms and conditions of every site 
                      you visit.</p>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">We 
                      have no control over, and assume no responsibility for the 
                      content, privacy policies or practices of any third party 
                      sites, products or services.</p>
                    <h6 align="left">Cookies</h6>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">To 
                      enrich and perfect your online experience, Worthington High 
                      School Alumni Club uses "Cookies", similar technologies 
                      and services provided by others to display personalized 
                      content, appropriate advertising and store your preferences 
                      on your computer.</p>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">A 
                      cookie is a string of information that a website stores 
                      on a visitor's computer, and that the visitor's browser 
                      provides to the website each time the visitor returns. Worthington 
                      High School Alumni Club uses cookies to help Worthington 
                      High School Alumni Club identify and track visitors, their 
                      usage of http://www.worthingtonhighschoolalumniclub.com, 
                      and their website access preferences. Worthington High School 
                      Alumni Club visitors who do not wish to have cookies placed 
                      on their computers should set their browsers to refuse cookies 
                      before using Worthington High School Alumni Club's websites, 
                      with the drawback that certain features of Worthington High 
                      School Alumni Club's websites may not function properly 
                      without the aid of cookies.</p>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">By 
                      continuing to navigate our website without changing your 
                      cookie settings, you hereby acknowledge and agree to Worthington 
                      High School Alumni Club's use of cookies.</p>
                    <h6 align="left">Privacy Policy Changes</h6>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">Although 
                      most changes are likely to be minor, Worthington High School 
                      Alumni Club may change its Privacy Policy from time to time, 
                      and in Worthington High School Alumni Club's sole discretion. 
                      Worthington High School Alumni Club encourages visitors 
                      to frequently check this page for any changes to its Privacy 
                      Policy. Your continued use of this site after any change 
                      in this Privacy Policy will constitute your acceptance of 
                      such change.</p>
                    <h6 align="left">Worthington High School Alumni</h6>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">The 
                      only information collected other than email is through PayPal 
                      and is for the purposes of attending various activities 
                      including the alumni dinner. Information collected is to 
                      verify payment for the attendees of the dinner and is not 
                      used for sale or to contact individuals for any non-alumni 
                      event. </p>
                    <h6 align="left">Credit & Contact Information</h6>
                    <p align="left" style="font-size: 10px; font-family: Tahoma, Verdana, sans-serif">This 
                      privacy policy was created at <a style="color:inherit;text-decoration:none;" href="https://termsandconditionstemplate.com/privacy-policy-generator/" title="Privacy policy template generator" target="_blank">termsandconditionstemplate.com</a>. 
                      If you have any questions about this Privacy Policy, please 
                      contact us via <a href="mailto:mark-cameron@msn.com">email</a> 
                      or <a href="tel:6145714531">phone</a>.</p></div>
